*{
    box-sizing: border-box;
}

html{
  font-size: 62.5%; /*14px*/
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.wrapper{
  /*width: 100%;*/
  
}

/*HEADER*/

header{
  width: 90%;
  max-width: 1000px;
  padding: 20px 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

header .logo img{
  max-width: 60px;
  width: 100%;
  vertical-align: top;
}

header .menu a{
  color: #000;
  text-decoration: none;
  margin-right: 40px;
  font-size: 18px;
}

header .menu a:hover{
  text-decoration: underline;
  
}
/*MAIN*/

section{
  margin-bottom: 50px;
}

main .banner-fondo{
  background: #000 url(/img/banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 50px 100px;
  width: 100%;
  height: 300px;

}

main .banner-fondo h1{
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

main .banner-fondo p{
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
}

.contenedor{
  max-width: 1000px;
  width: 80%; 
  margin: 30px auto;
}
.contenedor .input{   
  max-width: 1000px;  
  width: 100%;  
  background: #ccc;
  border-radius: 8px;
  display: flex;
  padding: 10px;  
}

.contenedor .input .icono{
  border-radius: 8px;
  padding-left: 10px;
  padding: 10px 20px;
  width: 5%;

}

.contenedor .input input{  
  width: 95%;
  /*border-radius: 8px;*/
  padding-left: 10px;
  padding: 10px;
  background: #ccc;
  border: none;
  
  
}

.contenedor .input input:focus{
  outline: none;

}
.contenedor .input input:hover{
  border-radius: 10px;
  background: #dfe6e9;
  cursor: pointer; 
}

.popular{
  width: 100%;
  max-width: 1000px;
}

.popular h2, .all-article h2{
  color: blue;
  font-size: 3rem;
  margin-bottom: 25px;
}

.cont-popular{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cont-popular article{
  width: 40%;
  padding: 15px;
  padding-left: 0;
  margin-bottom: 20px;
}
.cont-popular article h3{
  font-size: 4rem;
  margin-bottom: 20px;
}
.cont-popular article  p{
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.8rem;

}

.cont-popular .img-steve{
  width: 60%;
  margin-bottom: 20px;
}

.cont-popular .img-steve img{
  width: 100%;
}

.cont-popular .img-contenido{
  width: 33.3333%;
}
.cont-popular .img-contenido img{
  width: 100%;
  max-width: 500px;  
  margin-left: 15px;
}

.cont-popular .img-contenido .img1{
  margin-left: 0;
}
.cont-popular .img-contenido .img2{
  margin-left: 7px;
}

.cont-popular .img-contenido figure{
  margin-bottom: 25px; 

}

.cont-popular .img-contenido h4{
  font-size: 2.5rem;
  margin-bottom: 20px;
  line-height: 3.5rem;
}

.cont-popular .img-contenido p{
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 2.8rem;
}

.contenedor .pie{
  text-align: right;
  margin-bottom: 20px;
  color: blue;
  font-weight: bold;
  font-size: 1.8rem;
}

.all-article{
  width: 100%;
  max-width: 1000px;
}
.all-article .cont-all-article{
  width: 100%;
  margin-bottom: 40px;
 
}

.all-article .cont-all-article .article1{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background: red;*/
 

}
.cont-all-article .article1 figure{
  width: 30%;
  display: inline-block;
}
.cont-all-article .article1 img{
  width: 100%;
  max-width: 200px;
}

.cont-all-article .article1 .texto{
  width: 70%;
  display: inline-block;
  padding-top: 20px;
}

.cont-all-article .texto{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cont-all-article .texto .cont-texto{
  width: 100%;
}
.cont-all-article .texto h5{
  font-size: 2rem;
  margin-bottom: 10px;
}
.cont-all-article .texto p{
  line-height: 2.4rem;
  margin-bottom: 50px;
}
.cont-all-article .texto .letras{
  width: 50%;
  display: inline-block;
}
.cont-all-article .texto .icons{
  width: 40%;
  display: inline-block;
  
}
.cont-all-article .texto .icons i{
  margin-left: 25px;
  font-size: 2rem;  
}

.flechas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flechas a{
  font-size: 2rem;
  text-decoration: none;
  color: black;
  
}

.flechas a i
{
  margin: 10px;
}

.flechas a:hover, i:hover{
  text-decoration: underline;
  
}

/*FOOTER*/

.footer{
  width: 94%;
  max-width: 1300px;
  background: #008edd;
  border-top-right-radius: 200px;
  margin-bottom: 0;
}

.footer .contenedor{
  padding: 40px;
}

.footer .footer1{
  padding-top: 90px;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer .footer1 h5{
  color: #fff;
  line-height: 3.8rem;
  font-size: 3.9rem;
  margin-bottom: 20px;
}

.footer .footer1 p{
  color: #fff;
  line-height: 2.8rem;
  color: grey;
}

.footer .footer1 .contenido1{
  width:50%;
  display: block;
}

.footer .footer1 .boton{
  width: 40%;    
  text-align: center;  
  
}

.footer .footer1 a{
  width: 100%;
  background: black;
  padding: 20px 80px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.linea{
  width: 100%;
  height: 2px;  
  background: grey;  
}

.footer .footer2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  
}
.footer .footer2 .columna1{
  width: 50%;
 
}

.footer .footer2 .columna1 h5{
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.footer .footer2 .columna1 ol{
  list-style: upper-latin; 
  color: #fff;
  font-weight: bold;
}

.footer .footer2 .columna1 li{
  margin-bottom: 20px;  
}

.footer .footer2 .columna2{
  width: 20%;
  
}

.footer .footer2 .columna2 h5{
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
  
}

.footer .footer2 .columna2 li{
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}

.footer .footer2 .columna3{
  width: 20%;
  
}

.footer .footer2 .columna3 h5{
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer .footer2 .columna3 ul{
  list-style: none;
}

.footer .footer2 .columna3 li{
  margin-bottom: 20px;
}

.footer .footer2 .columna3 a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer .footer2 .columna3 a:hover{
  color: black;
  cursor: pointer;
}








