.footer {
  width: 94%;
  max-width: 1300px;
  background: #008edd;
  border-top-right-radius: 200px;
  margin-bottom: 0;
  padding-bottom: 20px;
  ff
}

.footer .contenedor {
  padding: 40px;
}

.footer .footer1 {
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer .footer1 h5 {
  color: #fff;
  line-height: 3.8rem;
  font-size: 3.9rem;
  margin-bottom: 20px;
}

.footer .footer1 p {
  color: #fff;
  line-height: 2.8rem;
  color: grey;
}

.footer .footer1 .contenido1 {
  width: 50%;
  display: block;
}

.footer .footer1 .boton {
  width: 40%;
  text-align: center;
}

.footer .footer1 a {
  width: 100%;
  background: black;
  padding: 20px 60px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.linea {
  width: 100%;
  height: 2px;
  background: grey;
}

.footer .footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.footer .footer2 .columna1 {
  width: 50%;
}

.footer .footer2 .columna1 h5 {
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.footer .footer2 .columna1 ol {
  list-style: upper-latin;
  color: #fff;
  font-weight: bold;
}

.footer .footer2 .columna1 li {
  margin-bottom: 20px;
}

.footer .footer2 .columna2 {
  width: 20%;
}

.footer .footer2 .columna2 h5 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer .footer2 .columna2 li {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
}

.footer .footer2 .columna3 {
  width: 20%;
}

.footer .footer2 .columna3 h5 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.footer .footer2 .columna3 ul {
  list-style: none;
}

.footer .footer2 .columna3 li {
  margin-bottom: 20px;
}

.footer .footer2 .columna3 a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer .footer2 .columna3 a:hover {
  color: black;
  cursor: pointer;
}
